:root{
    --main-color: #12747A;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

h3{
    font-weight: 400 !important;
}

.text-decoration-none{
    color: initial;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.title-container:hover{
    color: #000;
}

.title-container{
    display: block;
    max-width: 27%;
    margin: auto;
}

.title{
    margin:auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    z-index: -1;
    transition: all .5s ease-in-out;
    transform:translateY(-5px);
}

.title:hover{
    transform: scale(1.02);
    color:black;
}

.user-button{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 0.75em;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 15px 10px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.user-button .user-button-text{
    display: inline-block;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.main-panel{
    padding: 40px 60px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

.main-panel form label{
    font-weight: 400;
    font-size: 1.1em;
}

.main-panel form input:focus{
    outline: none;
}

.main-panel form input[type=text], .main-panel form input[type=password], .main-panel form input[type=email]{
    background: #E6E9E6;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    min-width: 220px;
    padding: 2px 8px;
}

.main-panel form input[type=submit]{
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

.main-panel .register-button{
    font-size: 1em;
    align-self: center;
}

.main-panel .back-button{
    display: inline;
    font-size: 1em;
    padding: 10px 30px;
}

.main-panel .back-button-container{
    margin-top: 30px;
    display: block;
    text-decoration: none;
}


/*------------------------------------
-------"Quick" and sound buttons------
------------------------------------*/
.left-buttons{
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.button{
    padding: 7px 20px;
    margin: 10px;
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-width: 180px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    transition: all .1s ease-in-out;
}

.button:hover{
    background-color: #fff;
    color: var(--main-color);
}

.sound-button-container{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.sound-button{
    background-color: #fff;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 2.5em;
    color: var(--main-color);
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/*------------------------------------
-------Ranking page-------------------
------------------------------------*/
.ranking-list .row{
    align-items: center;
}

.ranking-list{
    list-style: none;
    counter-reset: item;
}

.ranking-list li {
    counter-increment: item;
    margin-bottom: 5px;
}

.ranking-list li:before {
    margin-right: 10px;
    content: counter(item);
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5em;
}

.ranking-list li div{
    padding-left: 0;
    padding-right: 0;
    font-size: 1.1em;
}

.ranking-list li div:last-of-type{
    color:#351FBC;
}

.ranking-list li div:last-of-type::after{
    content: " pkt";
}

/*------------------------------------
-------Statistics---------------------
------------------------------------*/

#statistics-panel span{
    font-size: 1.2em;
}

/*------------------------------------
-------Main page---------------------
------------------------------------*/
.start-button{
    padding: 15px 0;
}

.main-panel .icon{
    font-size: 1em;
}

.main-panel .icon-start{
    font-size: 1.2em;
}

/*------------------------------------
-------Choose Difficulty---------------------
------------------------------------*/
#choose-difficulty .difficult-button{
    position:relative;
    display: inline-block;
    min-width: 170px;
    min-height: 150px;
    text-align: center;
    color: white;
    text-decoration: none;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

#choose-difficulty .difficult-button .main-text{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.15);
    transform: translateY(-50%) translateX(-50%);
    font-size: 1.8em;
    font-weight: 400;
}

#choose-difficulty .difficult-button .description{
    position: absolute;
    display: block;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 7px rgba(0,0,0,0.1);
}

#choose-difficulty .easy:hover{
    background: white;
    color: #25EF39;
    font-size: 1.05em;
}

#choose-difficulty .medium:hover{
    background: white;
    color: #EFE607;
    font-size: 1.05em;
}

#choose-difficulty .hard:hover{
    background: white;
    color: #FB5D5D;
    font-size: 1.05em;
}
#choose-difficulty .easy{
    background-color: #25EF39;
}

#choose-difficulty .medium{
    background-color: #EFE607;
}

#choose-difficulty .hard{
    background-color: #FB5D5D;
}

/*------------------------------------
-------Categories---------------------
------------------------------------*/
.category-buttons{
    text-align: right;
    margin-top: 25px;
}
.category-buttons a{
    font-size: 1.05em;
    padding: 10px 20px;
}

.main-panel#user-categories{
    padding: 20px 60px;
}

.categories .one-category{
    display: block;
    background-size: cover;
    min-height: 125px;
    margin: 0 5px;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.categories .col-2{
    transition: all .2s ease-in-out;   
}

.categories .col-2:hover .one-category{
     opacity: 0.75;

}

.categories .col-2:hover .category-title{
    transform: translateY(-5px);
    font-size: 1.01em;
}

.categories .category-title{
    color: rgb(48, 48, 48);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;   
}

.categories .categories-container{
    max-height: 340px;
    overflow-y: scroll;
}

.categories .row{
    width: 101%;
}

.categories .categories-container::-webkit-scrollbar {
    width: 8px;
}

.categories .categories-container::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
}

#add-category input[type=text]{
    width: initial;
}

.add-category-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 125px;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.add-category-text{
    max-width: 100%;
    min-width: initial !important;
}

.add-category-button{
    font-size: 1.1em;
    padding: 5px !important;
}

#upload_file{
    display: none;
}

.add-category-add-button{
    height: 125px;
    background-image: url("../img/add-category-plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #000;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/*------------------------------------
-------Game------------------------
------------------------------------*/
.game-container{
    width: 80%;
    height: 60vh;
}

.game-container-row{
    height: 100%;
}

.game-container .category-name{
    padding: 0;
    text-align: center;
    position: relative;
}

.game-container .category-name-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.game-container .points-row{
    justify-content: center;
    align-items: center;
}

.game-container .game-info-single:not(:last-child){
    margin-bottom: 25px;
}

.game-container .game-info-single{
    width: 75%;
    display: block;
    margin: auto;
}

.game-container .game-info-single h4{
    font-size: 1.2em;
}

.game-container .points-row .info-border{
    padding: 12px 20px;
    border: 1px solid black;
    text-align: center;
}

.game-container .points-row .bottom-info-border{
    text-align: center;
    text-transform: uppercase;
}

.game-container .category-row{
    height: 20%;
    background-color: #fff;
    margin: -10px 20px 20px 20px;
}

.game-container .points-row{
    height: 80%;
    background-color: #fff;
    margin: 0 20px;
    padding: 20px 10px;
}

.game-container .card-container{
    background-color: #fff;
    height: 100%;
    padding: 25px 40px;
}

.game-container .three-card-row{
    height: 50%;
}

.game-container .four-card-row{
    height: 33.3%;
}

.game-container .five-card-row{
    height: 25%;
}

.game-container .game-card{
    height: 100%;
    border-radius: 15px;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.25);
    background: #25EF39;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

/*card*/
.card-1{
    color: yellow;
}

.card-2{
    color: red;
}

.card-3{
    color: purple;
}

.card-4{
    color: blue;
}

.card-5{
    color: orange;
}

.card-6{
    color: blue;
}

.card-7{
    color: yellow;
}

.card-8{
    color: pink;
}

.card-9{
    color: purple;
}

.card-10{
    color: red;
}

.card-11{
    color: pink;
}

.card-12{
    color: orange;
}


/*------------------------------------
-------Errors------------------------
------------------------------------*/
.invalid-feedback{ 
    display: block !important;
}